html.main-search { 
	background-color:#222; /* REMNANT GRAY */
	background-position: 85% 50%;
}

.ui-keyboard {
	left: 20%!important; top: 27%!important; 
}

.ui-keyboard-button.ios-button-default.ios-button-action{
	border-bottom-right-radius: 0px;
}

.ui-keyboard-button.ios-button-default.ui-keyboard-bksp{
	border-bottom-left-radius: 0px;
}

.ui-keyboard.ios-container .ui-keyboard-preview-wrapper{
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

.ui-state-default.ui-keyboard-button {
	background-image:none;
}

/* Resize search box and text */

#search-content .search {
	background-image: none; !important
	border:none;
	margin-left:150px;
	width:450px;
	background: repeating-linear-gradient(
		135deg,
		#222222,
		#222222 10px,
		#333333 10px,
		#333333 20px
		);
	padding:25px;
}

#search-content .search-text{
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	width:450px;
	font-size: 40px;
}

.search-trigger{
	display:none; /* Hide Mag glass */
}


#search-content .overlay {
	top:16px;
}

#search-content .overlay .title {
	font-size: 28px;
	margin-right:17px;
}

#search-content .overlay .sub-title {
	font-size: 24px;
}

/* Style actions box */
#search-header .actions {
	float:left;
	margin-left: 150px;
	background-color: #C3B530;
}

/*Style welcome text */
#welcomeMessage{
	color: rgb(255, 255, 255);
	padding: 5px;
	font-family: georgia;
	font-style: italic;
	font-size: 44pt;
	margin-left: 150px;
}

/*Style detail message */
.detailMessage.top{
	margin-top: 30px;
}

.detailMessage{
/*	background: repeating-linear-gradient(
		135deg,
		#222222,
		#222222 10px,
		#333333 10px,
		#333333 20px
		);*/
	padding: 20px;
	margin-left: 150px;
	margin-top: 20px;
	width:580px;
}

.detailMessage .header{
	/*color:#CBD4CC;*/
	color:#fff;
	font-family: georgia;
	font-size: 24pt;
}

.detailMessage .message{
	color:#fff;
	font-family: 'Arial','Tahoma',sans-serif;
	font-style: italic;
	font-size: 14pt;
}

.group-wrapper .dup-check-textbox{
	text-align:left!important;	
}
